* {
    margin: auto;
    height: auto;
}
.app_container {
    display: flex;
    background-color: bisque;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
header {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50%;
    width: 100%;
}
.main_page_input {
    display: flex;
    flex-direction: column;
}
input {
    width: 100%;
}
.main_page_save_task {
    width: 70%;
    margin-top: 50px;
}
footer {
    margin-top: 50px;
}
.task_container {
    display: flex;
    flex-direction: row;
}
.task_element {
    background-color: azure;
}
.delete_button {
    width: 30px;
    height: 30px;
    border-radius: 30px;
}
.popup {
    width: 100px;
    height: 100px;
    background-color: rgba(216, 191, 216, 0.8);
    opacity: 0;
    top: 0;
    left: 0;
    visibility: hidden;
    transition: all 0.8s ease 0s;
}
.popup_body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}
@keyframes glowing {
    0% {
        box-shadow: 0 0 10px #2ba805;
    }
    50% {
        box-shadow: 0 0 25px #49e819;
    }
    100% {
        box-shadow: 0 0 3px #2ba805;
    }
}
.popup_content {
    background-color: rgb(201, 241, 201);
    color: darkviolet;
    font-family: 'Lobster', cursive;
    font-size: 30px;
    max-width: 800px;
    padding: 30px;
    position: relative;
    border-radius: 30px;
    animation: glowing 1300ms infinite;
}

.popup_close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-family: 'Bungee', cursive;
    color: darkviolet;
    font-size: 20px;
    text-decoration: none ;
}